form{
    box-shadow: 0px 0px 100px rgba(212, 175, 55, 0.5);
    width: 50%;
    font-size: 30px;
    color: rgb(218, 208, 208);
    border: 2px solid white;
    border-radius: 10px;
    font-family: "Caudex", serif; 
}

#formulario{
    display: flex;
    justify-content: center;
}

textarea{
    width: 99%;
}

input, textarea{
    font-size: 25px;
}